<nav>
    <ul class="navbar-nav">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nested-list-item">
            <a href="{{ path("admin") }}" class="button nav-link" {{ menu('admin') }}>{{ icon('open-box') }}<span class="icon-label">Administration</span></a>
            <ul class="nested-list">
                <li><a href="{{ path('admin_portfolio_index') }}" class="button nav-link" {{ menu('admin-portfolio') }}>Manage Portfolio</a></li>
                <li><a href="{{ path('admin_article_index') }}" class="button nav-link" {{ menu('admin-article') }}>Manage Articles</a></li>
                <li><a href="{{ path('category_index') }}" class="button nav-link" {{ menu('admin-category') }}>Manage Categories</a></li>
                <li><a href="{{ path('app_gear_index') }}" class="button nav-link" {{ menu('admin-gear') }}>Manage Gear</a></li>
            </ul>
        </li>
        {% endif %}
        <li>
            <a href="{{ path('portfolio_index') }}" class="button nav-link" {{ menu('portfolio') }}>{{ icon('images') }}<span class="icon-label">Mes photos</span></a>
        </li>
        <li>
            <a href="{{ path('article_index') }}" class="button nav-link" {{ menu('articles') }}>{{ icon('newspaper') }}<span class="icon-label">Mes articles</span></a>
        </li>
        <li>
             {{ socials() }}
        </li>
    </ul>
</nav>
