<nav class="navbar">
    <div class="navbar-toggler">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#js-nav" aria-controls="js-nav" aria-expanded="false" aria-label="Toggle navigation" id="js-toggleBtn-nav">{{ icon('menu') }}</button>
    </div>
    <div class="navbar-brand">
        <a href={{ path("default") }} class="navbar-site__brand">SMNNT</a>
    </div>
    <div class="navbar-nav-wrapper" id="js-nav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('portfolio_index') }}" {{ menu('portfolio') }}>Photos</a>
            </li>
        </ul>
    </div>
    {% if app.user %}
    <div class="navbar-auth">
        <a class="nav-link button button-primary" href="{{ path("admin") }}" {{ menu('admin') }}>Admin</a>
    </div>
    {% endif %}
</nav>