<ul>
{% if app.user.socialInstagram %}
    <li>
        <a href="https://www.instagram.com/{{ app.user.socialInstagram }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('instagram') }}<span class="icon-label">Instagram</span></a>
    </li>
{% endif %}
{% if app.user.socialGithub %}
    <li>
        <a href="https://github.com/{{ app.user.socialGithub }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('github') }}<span class="icon-label">Github</span></a>
    </li>
{% endif %}
{% if app.user.socialLinkedin %}
    <li>
        <a href="https://www.linkedin.com/in/{{ app.user.socialLinkedin }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('linkedin') }}<span class="icon-label">Linkedin</span></a>
    </li>
{% endif %}
{% if app.user.socialTwitter %}
    <li>
        <a href="https://twitter.com/{{ app.user.socialTwitter }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('linkedin') }}<span class="icon-label">Linkedin</span></a>
    </li>
{% endif %}
{% if app.user.contactEmail %} 
    <li>
        <a href="mailto:{{ app.user.contactEmail }}" class="button" rel="external">{{ icon('mail') }}<span class="icon-label">{{ app.user.contactEmail }}</span></a>
    </li>
{% endif %}
</ul>