<li>
    <ul>
    {% if user.socialInstagram %}
        <li>
            <a href="https://www.instagram.com/{{ user.socialInstagram }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('instagram') }}<span class="icon-label">Instagram</span></a>
        </li>
    {% endif %}
    {% if user.socialGithub %}
        <li>
            <a href="https://github.com/{{ user.socialGithub }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('github') }}<span class="icon-label">Github</span></a>
        </li>
    {% endif %}
    {% if user.socialLinkedin %}
        <li>
            <a href="https://www.linkedin.com/in/{{ user.socialLinkedin }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('linkedin') }}<span class="icon-label">Linkedin</span></a>
        </li>
    {% endif %}
    {% if user.socialTwitter %}
        <li>
            <a href="https://twitter.com/{{ user.socialTwitter }}" rel="nofollow noreferrer noopener external" target="_blank" class="button">{{ icon('linkedin') }}<span class="icon-label">Linkedin</span></a>
        </li>
    {% endif %}
    {% if user.contactEmail %} 
        <li>
            <a href="mailto:{{ user.contactEmail }}" class="button" rel="external">{{ icon('mail') }}<span class="icon-label">{{ user.contactEmail }}</span></a>
        </li>
    {% endif %}
    </ul>
</li>