{% extends 'base.html.twig' %}

{% block title %}Manage Advertisement{% endblock %}

{% block page__title %}Manage Advertisement{% endblock %}

{% block page__desc %}
    <p>Currently {{ advertisements|length }} categories</p>
    <a href="{{ path('app_advertisement_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Advertisement</span></a>
{% endblock %}

{% block page__content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cta</th>
                <th>Landing page</th>
                <th>Title</th>
                <th>Description</th>
                <th>Advertiser</th>
                <th>Logo</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advertisement in advertisements %}
            <tr>
                <td>{{ advertisement.id }}</td>
                <td>{{ advertisement.name }}</td>
                <td>{{ advertisement.cta }}</td>
                <td>{{ advertisement.landingPage }}</td>
                <td>{{ advertisement.title }}</td>
                <td>{{ advertisement.description }}</td>
                <td>{{ advertisement.advertiser }}</td>
                <td>{{ advertisement.logo }}</td>
                <td class="article-status article-status-{{ advertisement.active ? "online" : "draft" }}">{{ advertisement.active ? "active" : "inactive" }}</td>
                <td>
                    <a href="{{ path('app_advertisement_show', {'id': advertisement.id}) }}">{{ icon('view') }}</a>
                    <a href="{{ path('app_advertisement_edit', {'id': advertisement.id}) }}" class="button">{{ icon('edit') }}</a>
                    {{ include('admin/advert/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
