{% extends 'base.html.twig' %}

{% block title %}Advertisement{% endblock %}

{% block body %}
    <h1>Advertisement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advertisement.id }}</td>
            </tr>
            <tr>
                <th>Cta</th>
                <td>{{ advertisement.cta }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advertisement.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advertisement.description }}</td>
            </tr>
            <tr>
                <th>Advertiser</th>
                <td>{{ advertisement.advertiser }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ advertisement.logo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_advertisement_index') }}">back to list</a>

    <a href="{{ path('app_advertisement_edit', {'id': advertisement.id}) }}">edit</a>

    {{ include('admin/advert/_delete_form.html.twig') }}
{% endblock %}
