{{ form_start(form, {'attr': {'class': 'stack-column min-container'}}) }}
    <div class="input-group">
        <div class="input-checkbox checkbox-toggle">
            {{ form_widget(form.isInPortfolio) }}
            {{ form_label(form.isInPortfolio) }}
            {{ form_help(form.isInPortfolio) }}
        </div>  
        <div class="input-error">
            {{ form_errors(form.isInPortfolio) }}
        </div>
    </div>
    <div class="input-group">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile) }}
        <div class="input-error">
            {{ form_errors(form.imageFile) }}
        </div>
    </div>
    <div class="input-group">
        {{ form_label(form.albums) }}
        {{ form_help(form.albums) }}
        {{ form_widget(form.albums) }}
        <div class="input-error">
            {{ form_errors(form.albums) }}
        </div>
    </div>
    <div class="input-group">
        {{ form_label(form.description) }}
        {{ form_help(form.description) }}
        {{ form_widget(form.description) }}
        <div class="input-error">
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="input-group">
        {{ form_label(form.alt) }}
        {{ form_help(form.alt) }}
        {{ form_widget(form.alt) }}
        <div class="input-error">
            {{ form_errors(form.alt) }}
        </div>
    </div>
    <div class="horizontal-input-group">
        <div class="input-group">
            {{ form_label(form.camera) }}
            {{ form_help(form.camera) }}
            {{ form_widget(form.camera) }}
            <div class="input-error">
                {{ form_errors(form.camera) }}
            </div>
        </div>
        <div class="input-group">
            {{ form_label(form.lens) }}
            {{ form_help(form.lens) }}
            {{ form_widget(form.lens) }}
            <div class="input-error">
                {{ form_errors(form.lens) }}
            </div>
        </div>
    </div>
    <fieldset>
        <legend>Parameters</legend>
        <div class="horizontal-input-group">
            <div class="input-group">
                {{ form_label(form.exposure) }}
                {{ form_help(form.exposure) }}
                {{ form_widget(form.exposure) }}
                <div class="input-error">
                    {{ form_errors(form.exposure) }}
                </div>
            </div>
            <div class="input-group">
                {{ form_label(form.aperture) }}
                {{ form_help(form.aperture) }}
                {{ form_widget(form.aperture) }}
                <div class="input-error">
                    {{ form_errors(form.aperture) }}
                </div>
            </div>
            <div class="input-group">
                {{ form_label(form.iso) }}
                {{ form_help(form.iso) }}
                {{ form_widget(form.iso) }}
                <div class="input-error">
                    {{ form_errors(form.iso) }}
                </div>
            </div>  
            <div class="input-group">
                {{ form_label(form.focal) }}
                {{ form_help(form.focal) }}
                {{ form_widget(form.focal) }}
                <div class="input-error">
                    {{ form_errors(form.focal) }}
                </div>
            </div>
        </div>
    </fieldset>
    <div class="input-group">
        {{ form_label(form.date) }}
        {{ form_help(form.date) }}
        {{ form_widget(form.date) }}
        <div class="input-error">
            {{ form_errors(form.date) }}
        </div>
    </div>
    <div class="form-submit">
        <button class="button-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}