{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block page__title %}Manage Portfolio{% endblock %}

{% block page__desc %}
    <p>Currently {{ images|length }} photos</p>
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin_portfolio_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Photo</span></a>{% endif %}
{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <div class="grid js-filter-content">
            {% for image in images %}
                <div class="card card-photo">
                    <div class="card__img">
                        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumbnail400x400')}}" alt="{{ image.alt }}" loading="lazy">
                    </div>
                    <div class="card__footer">
                        <div class="stack">
                            {% for album in image.albums %}
                                <div class="pill pill-small pill-primary">{{ album.name }}</div>
                            {% endfor %}
                        </div>
                        <div class="button">{{ icon('view') }}</div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="card__footer card__admin">
                        <a href="{{ path('admin_portfolio_edit', {'id': image.id}) }}" class="button">{{ icon('edit') }}</a>
                        {{ include('admin/portfolio/_delete.html.twig') }}
                    </div>
                    {% endif %}
                    <a class="card__link" href="{{ path('admin_portfolio_show', {'id': image.id}) }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}