{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="container">
    <h1 class="page__title">Manage Portfolio</h1>
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin_portfolio_new') }}" class="button button-primary">New</a>{% endif %}
    <div class="stack-column js-filter">
        <div class="grid js-filter-content">
            {% for image in images %}
                <div class="card card-photo">
                    <div class="card__img">
                        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumbnail400x400')}}" alt="{{ image.alt }}" loading="lazy">
                    </div>
                    <div class="card__footer">
                        <div class="stack">
                            {% for album in image.albums %}
                                <div class="pill pill-small pill-primary">{{ album.name }}</div>
                            {% endfor %}
                        </div>
                        <div><span>&#128270;</span></div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="card__footer card__admin">
                        <a href="{{ path('admin_portfolio_edit', {'id': image.id}) }}" class="button">&#128394;&#65039;</a>
                        {{ include('admin/portfolio/_delete.html.twig') }}
                    </div>
                    {% endif %}
                    <a class="card__link" href="{{ path('admin_portfolio_show', {'id': image.id}) }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}