{% extends 'base.html.twig' %}

{% block title %}Manage Portfolio{% endblock %}

{% block page__title %}Manage Portfolio{% endblock %}

{% block page__desc %}
    <p>Currently {{ count }} photos in portfolio</p>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="stack">
            <a href="{{ path('admin_portfolio_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Photo</span></a>
            <a href="{{ path('admin_media_index') }}" class="button">Other Media</a>
        </div>
    {% endif %}
{% endblock %}

{% block page__content %}
<section class="stack-column">
    {% for image in images %}
        {% include "admin/portfolio/_card_admin.html.twig" %}
    {% endfor %}
</section>
<section class="d-flex x-center y-center">
{{ knp_pagination_render(images) }}
</section>
{% endblock %}