{% extends 'base.html.twig' %}

{% block title %}Manage Media{% endblock %}

{% block page__title %}Manage Media{% endblock %}

{% block page__desc %}
    <p>Currently {{ count }} photos in media</p>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="stack">
            <a href="{{ path('admin_portfolio_new', {'portfolio': "false"}) }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Media</span></a>
            <a href="{{ path('admin_portfolio_index') }}" class="button">Portfolio</a>
        </div>
    {% endif %}
{% endblock %}

{% block page__content %}
<section class="stack-column">
    {% for image in images %}
        {% include "admin/portfolio/_card_admin.html.twig" %}
    {% endfor %}
</section>
<section class="d-flex x-center y-center">
{{ knp_pagination_render(images) }}
</section>
{% endblock %}