{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}
{% block page__title %}Edit Portfolio{% endblock %}

{% block page__desc %}
<div class="d-flex y-center">
    <a href="{{ path('admin_portfolio_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Back to list</a>
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin_portfolio_edit', {'id': image.id}) }}" class="button">{{ icon('edit') }}</a>{{ include('admin/portfolio/_delete.html.twig') }}
    {% endif %}
</div>
{% endblock %}

{% block page__content %}
<div class="portfolio-show">
    <div class="portfolio-show__grid">
        <div class="portfolio-image">
            <p class="section__title">{{ image.description }}</p>
            <figure class="article__heroimg">
                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('widen_filter') }}" alt="{{ image.alt }}" loading="lazy">
                <figcaption>{{ image.description }}</figcaption>
            </figure>
        </div>
        <div class="portfolio-details">
            <ul>
                {% if image.camera %}<li><strong>Camera</strong>{{ image.camera }}</li>{% endif %}
                {% if image.lens %}<li><strong>Lens</strong>{{ image.lens }}</li>{% endif %}
                {% if image.exposure %}<li><strong>Exposure</strong>{{ image.exposure }}</li>{% endif %}
                {% if image.aperture %}<li><strong>Aperture</strong>{{ image.aperture }}</li>{% endif %}
                {% if image.iso %}<li><strong>ISO</strong>{{ image.iso }}</li>{% endif %}
                {% if image.focal %}<li><strong>Focal</strong>{{ image.focal }}mm</li>{% endif %}
                {% if image.date %}<li><strong>Date</strong>{{ image.date|date("d/m/Y") }}</li>{% endif %}
                <li><div class="stack">{% for album in image.albums %}<div class="pill pill-primary">{{ album.name }}</div>{% endfor %}</div></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}