{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<div class="container">
    <h1>Category index</h1>
    <a href="{{ path('category_new') }}">Create new</a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.type }}</td>
                <td>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
