<div class="card card-photo card-small">
    <div class="card__img">
        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumbnail400x400')}}" alt="{{ image.alt }}" loading="lazy">
    </div>
    <div class="card__footer">
        <div class="stack">
            {% for album in image.albums %}
                <div class="pill pill-small pill-primary">{{ album.name }}</div>
            {% endfor %}
        </div>
        <div>{{ icon('magnifier') }}</div>
    </div>
    <a class="card__link" href="{{ path('portfolio_show', {'id': image.id}) }}"></a>
</div>