{% extends 'base.html.twig' %}

{% block title %}{{ image.description }}{% endblock %}

{% block page__desc %}
    <a href="{{ path('portfolio_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Back to list</a>
{% endblock %}

{% block page__content %}
    <div class="portfolio-show__grid">
        <div class="portfolio-image">
            <p class="section__title">{{ image.description }}</p>
            <figure class="article__heroimg">
                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('widen_filter') }}" alt="{{ image.alt }}" loading="lazy">
                <figcaption>{{ image.description }}</figcaption>
            </figure>
        </div>
        <div class="portfolio-details">
            <ul>
                {% if image.camera %}<li><strong>Camera</strong>{{ image.camera }}</li>{% endif %}
                {% if image.lens %}<li><strong>Lens</strong>{{ image.lens }}</li>{% endif %}
                {% if image.exposure %}<li><strong>Exposure</strong>{{ image.exposureString }}</li>{% endif %}
                {% if image.aperture %}<li><strong>Aperture</strong>{{ image.apertureString }}</li>{% endif %}
                {% if image.iso %}<li><strong>ISO</strong>{{ image.iso }}</li>{% endif %}
                {% if image.focal %}<li><strong>Focal</strong>{{ image.focalString }}</li>{% endif %}
                {% if image.date %}<li><strong>Date</strong>{{ image.date|date("m/Y") }}</li>{% endif %}
                <li><div class="stack">{% for album in image.albums %}<div class="pill pill-primary">{{ album.name }}</div>{% endfor %}</div></li>
            </ul>
        </div>
    </div>
{% endblock %}