{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block page__desc %}
    <a href="{{ path('portfolio_index') }}" class="button button-cancel">back to list</a>
{% endblock %}

{% block page__content %}
    <div class="portfolio-show__grid">
        <div class="portfolio-image">
            <p>{{ image.description }}</p>
            <figure class="article__heroimg">
                <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.alt }}">
                <figcaption>{{ image.description }}</figcaption>
            </figure>
        </div>
        <div class="portfolio-details">
            <ul>
                <li>{{ image.camera }}</li>
                <li>{{ image.lens }}</li>
                <li>{{ image.exposure }}</li>
                <li>{{ image.aperture }}</li>
                <li>{{ image.iso }}</li>
                <li>{{ image.focal }}mm</li>
                <li>{{ image.date|date("d/m/Y") }}</li>
            </ul>
        </div>
    </div>
{% endblock %}