{% extends 'base.html.twig' %}

{% block page__title %}Welcome !{% endblock %}
{% block page__desc %}{{ block('description') }}{% endblock %}

{% block page__content %}
<ul class="stack">
    <li>
        <a href="{{ path('portfolio_index') }}" class="button button-cancel">{{ icon('images') }}<span class="icon-label">Voir mes photos</span></a>
    </li>
    <li>
        <a href="{{ path('article_index') }}" class="button button-cancel">{{ icon('newspaper') }}<span class="icon-label">Lire mes articles</span></a>
    </li>
    <li>
        <a href="{{ path('webproject_index') }}" class="button button-cancel">{{ icon('code') }}<span class="icon-label">Découvrir mes projets Web</span></a>
    </li>
</ul>
{{ adslot('homepage') }}
{% endblock %}