{% extends 'base.html.twig' %}

{% block title %}smnnt.fr - Administration{% endblock %}

{% block page__title %}&#128104;&#127995;&#8205;&#128187; Hello {{ app.user.email }}{% endblock %}

{% block page__desc %}
<div class="d-flex space-between">
    <ul class="stack">
        <li><a href="{{ path('admin_portfolio_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Image</span></a></li>
        <li><a href="{{ path('admin_article_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Article</span></a></li>
        <li><a href="{{ path('category_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Category</span></a></li>
        <li><a href="{{ path('app_gear_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Gear</span></a></li>
    </ul>
    <div class="stack">
        <a href="{{ path('admin_edit') }}" class="button button-cancel">{{ icon('profile') }}<span class="icon-label">Profile</span></a>
        <a href="{{ path('app_logout') }}" class="button button-cancel">{{ icon('signout') }}<span class="icon-label">Se déconnecter</span></a>
    </div>
</div>
{% endblock %}

{% block page__content %}
<ul>
    <li><a href="{{ path('admin_portfolio_index') }}">Manage Images</a></li>
    <li><a href="{{ path('admin_article_index') }}">Manage Articles</a></li>
    <li><a href="{{ path('category_index') }}">Manage Categories</a></li>
    <li><a href="{{ path('app_gear_index') }}">Manage Gear</a></li>
</ul>
{% endblock %}

