{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block page__title %}Login{% endblock %}

{% block page__desc %}
    {% if app.user %}Vous êtes déjà connecté en tant que {{ app.user.email }}, <a href="{{ path('logout') }}">Se déconnecter</a>{% endif %}
{% endblock %}

{% block page__content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" class="stack-column min-container">
        <div class="input-group">
            <label for="username">Email</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password"/>
        </div>

        <input type="hidden" name="_target_path" value="/admin"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-submit">
            <button class="button-primary" type="submit">Login</button>
        </div>
    </form>
{% endblock %}
