{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block page__title %}Manage Categories{% endblock %}

{% block page__desc %}
    <p>Currently {{ categories|length }} categories</p>
    <a href="{{ path('category_new') }}" class="button button-primary">Create new</a>
{% endblock %}

{% block page__content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Icon</th>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.icon }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.typeName }}</td>
                <td>
                    <a href="{{ path('category_edit', {'id': category.id}) }}" class="button">&#128394;&#65039;</a>
                    {{ include('admin/category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
