<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="content">
        {% include "partials/nav.html.twig" %}
        {% block body %}
            <div class="container">
                <div class="page__header">
                {% if block("page__title") is defined  %}<h1 class="page__title">{{block("page__title")}}</h1>{% endif %}
                {% if block("page__desc") is defined  %}<div class="page__desc">{{block("page__desc")}}</div>{% endif %}
                </div>
                {% if block("page__content") is defined  %}<div class="page__content">{{block("page__content")}}</div>{% endif %}
            </div>
        {% endblock %}
        </div>
        {% include "partials/footer.html.twig" %}
    </body>
</html>
