<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}SMNNT.fr{% endblock %}</title>
        <meta name="title" content="{{ block('title') }}">
        <meta name="description" content="{% block description %}Prenez quelques minutes pour voir mes photos et lire mes articles sur des sujets variés.{% endblock %}">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:description" content="{{ block('description') }}">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:url" content="{{ app.request.uri }}">
        <meta property="twitter:title" content="{{ block('title') }}">
        <meta property="twitter:description" content="{{ block('description') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>        
        {% include "partials/_header.html.twig" %}
        <div class="page-body">
            <aside id="js-nav" class="aside navbar-nav-wrapper">
                {% include "partials/_nav.html.twig" %}
                {% include "partials/_footer.html.twig" %}
            </aside>
            {% block body %}
            <main class="main">
                <noscript>For full functionality of this site it is necessary to enable JavaScript. <a rel="nofollow noreferrer noopener" target="_blank" class="underline" href="https://www.enable-javascript.com/">How to enable JavaScript ?</a></noscript>
                {% include "partials/_flash.html.twig" %}
                {% if block("page__title") is defined  or block("page__desc") is defined %}
                    <div class="page__header">
                    {% if block("page__title") is defined  %}<h1 class="page__title">{{block("page__title")}}</h1>{% endif %}
                    {% if block("page__desc") is defined  %}<div class="page__desc">{{block("page__desc")}}</div>{% endif %}
                    </div>
                {% endif %}
                {% if block("page__content") is defined  %}<div class="page__content">{{block("page__content")}}</div>{% endif %}
            </main>
            {% endblock %}
        </div>
    </body>
</html>
