<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome to my website !{% endblock %}</title>
        <meta name="description" content="{% block description %}Hello ! My name is Pierre, welcome to my personal website. Take a look at my photos or read my articles.{% endblock %}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="content">
        {% include "partials/nav.html.twig" %}
        {% block body %}
            <div class="container">
                {% include "partials/flash.html.twig" %}
                {% if block("page__title") is defined  or block("page__desc") is defined %}
                    <div class="page__header">
                    {% if block("page__title") is defined  %}<h1 class="page__title">{{block("page__title")}}</h1>{% endif %}
                    {% if block("page__desc") is defined  %}<div class="page__desc">{{block("page__desc")}}</div>{% endif %}
                    </div>
                {% endif %}
                {% if block("page__content") is defined  %}<div class="page__content">{{block("page__content")}}</div>{% endif %}
            </div>
        {% endblock %}
        </div>
        {% include "partials/footer.html.twig" %}
    </body>
</html>
