{{ form_start(form, {'attr': {'class': 'article-form article'}}) }}
    <section>
        <div class="min-container card">
            <div class="input-group card__body">
                <div class="input-checkbox checkbox-toggle">
                    {{ form_widget(form.published) }}
                    {{ form_label(form.published) }}
                    {{ form_help(form.published) }}
                </div>  
                <div class="input-error">
                    {{ form_errors(form.published) }}
                </div>
            </div>
            <div class="input-group card__body">
                {{ form_label(form.topics) }}
                {{ form_help(form.topics) }}
                {{ form_widget(form.topics) }}
                <div class="input-error">
                    {{ form_errors(form.topics) }}
                </div>
            </div>
        </div>
    </section>

    <section class="stack-column article-form__content">
        <div class="input-group">
            {{ form_widget(form.title) }}
            <div class="input-error">
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div class="input-group">
            {{ form_widget(form.kicker) }}
            <div class="input-error">
                {{ form_errors(form.kicker) }}
            </div>
        </div>

        <div class="input-group">
            {{ form_widget(form.heroImageUrl) }}
            <div class="input-error">
                {{ form_errors(form.heroImageUrl) }}
            </div>
            {{ form_widget(form.heroImageCredit) }}
            <div class="input-error">
                {{ form_errors(form.heroImageCredit) }}
            </div>
        </div>

        <div class="input-group">
            {{ form_widget(form.content) }}
            <div class="input-error">
                {{ form_errors(form.content) }}
            </div>
        </div>
    </section>

    <div class="form-submit">
        <button class="button-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
