{% extends 'base.html.twig' %}

{% block title %}Manage Columns{% endblock %}

{% block page__title %}Manage Columns{% endblock %}

{% block page__desc %}
{% if is_granted('ROLE_ADMIN') %}<a class="button button-primary" href="{{ path('admin_article_new') }}">New</a>{% endif %}
{% endblock %}

{% block page__content %}
<div class="stack-column">
    {% for article in articles %}
    <div class="card admin-card">
        <div class="card__header">
            <div class="card__title">{{ article.id }}</div>
        </div>
        {% if article.heroImageUrl %}
        <div class="card__img">
            <img src="{{ article.heroImageUrl }}" alt="card image">
        </div>
        {% endif %}
        <div class="card__body">
            <a href="{{ path('admin_article_show', {'id': article.id}) }}">{{ article.title }}</a>
        </div>
        <div class="card__footer">
            {% if article.topics|length > 0 %}
            <div class="stack">
                {% for topic in article.topics %}
                    <div class="pill pill-primary">{{ topic.name }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="article-status article-status-{{ article.published ? "online" : "draft" }}">{{ article.published ? "online" : "draft" }}</div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="button">&#128394;&#65039;</a>
                {{ include('admin/article/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}