{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block page__desc %}
<div class="stack">
    <a href="{{ path('admin_article_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="article-status article-status-{{ article.published ? "online" : "draft" }}">{{ article.published ? "online" : "draft" }}</div>
        <div>
        {% if article.privateAccess %}
            <button data-action="copy" data-url="{{ privateUrl }}" class="button-cancel">Copier le lien privé</button>
        {% else %}
            private access disabled
        {% endif %}
        </div>
        <a href="{{ path('article_show', {'slug': article.slug}) }}" class="button">{{ icon('view') }}</a>
        <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="button">{{ icon('edit') }}</a>
        {{ include('admin/article/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}

{% block page__content %}
<article class="article">
    <div class="article__header stack-column">
        {% if article.topics|length > 0 %}
        <div class="article__category stack">
            {% for topic in article.topics %}
                <div class="pill pill-primary">{{ topic.name }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <h1 class="article__title">{{ article.title }}</h1>
        <p class="help">{{ article.createdAt is empty ? "" : "Créé le " ~ article.createdAt|date("d/m/Y à H:i", "Europe/Paris") }}{{ article.publishedAt is empty ? "" : ", publié le " ~ article.publishedAt|date("d/m/Y à H:i", "Europe/Paris") }}{{ article.updatedAt is empty ? "" : ", mis à jour le " ~ article.updatedAt|date("d/m/Y à H:i", "Europe/Paris") }}</p>
        <div class="article__subtitle">{{ article.kicker }}</div>
        {% if article.heroImageUrl %}
        <figure class="article__heroimg">
            <img src="{{ article.heroImageUrl }}" alt="{{ article.heroImageCredit }}" loading="lazy">
            <figcaption>{{ article.heroImageCredit }}</figcaption>
        </figure>
        {% endif %}
    </div>
    <div class="article__body">{{ article.content|markdown_to_html }}</div>
</article>

<script>
    const btn = document.querySelector('button[data-action=copy]');
    if (btn) {
        btn.addEventListener('click', (e) => {
            if (e.target.dataset.url !== "") {
                const btnText = e.target.innerText
                navigator.clipboard.writeText(e.target.dataset.url);
                e.target.innerText = "Copied !";
                setTimeout(() => {
                    e.target.innerText = btnText;
                }, 2500);
            }
        })
    }
</script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
{% endblock %}
