<div class="newsletterCta_container center-margin card-small">
    <div class="d-flex y-center space-between">
        <div>
            <div class="d-flex y-center">
                <div class="newsletterCta_name">{{ adslot.advert.title }}</div>
            </div>
            <p>{{ adslot.advert.description }}</p>
        </div>
        <div>
            <a href="{{ adslot.advert.landingPage }}" class="button button-primary">{{ adslot.advert.cta }}</a>
        </div>
    </div>
    <div class="adslot-name text-right">Adslot name : {{ adslot.name }}</div>
</div>
