{% extends 'base.html.twig' %}

{% block title %}Manage Adslot{% endblock %}

{% block page__title %}Manage Adslot{% endblock %}

{% block page__desc %}
    <p>Currently {{ adslots|length }} adslot</p>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="stack">
            <a href="{{ path('app_adslot_new') }}" class="button button-primary">{{ icon('add') }}<span class="icon-label ">New Adslot</span></a>
            <a href="{{ path('app_advertisement_index') }}" class="button">Manage Advertisement</a>
        </div>
    {% endif %}
{% endblock %}

{% block page__content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Advert Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adslot in adslots %}
            <tr>
                <td>{{ adslot.id }}</td>
                <td>{{ adslot.name }}</td>
                <td>
                {% for advert in adslot.adverts %}
                    <a href="{{ path('app_advertisement_show', {'id': advert.id}) }}" class="article-status article-status-{{ advert.active ? "online" : "draft" }}">{{ advert.name }}</a>
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_adslot_edit', {'id': adslot.id}) }}" class="button">{{ icon('edit') }}</a>
                    {{ include('admin/adslot/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
