{% extends 'base.html.twig' %}

{% block title %}Adslot index{% endblock %}

{% block body %}
    <h1>Adslot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Advert Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adslot in adslots %}
            <tr>
                <td>{{ adslot.id }}</td>
                <td>{{ adslot.name }}</td>
                <td>{{ adslot.advert.name }}</td>
                <td>
                    <a href="{{ path('app_adslot_show', {'id': adslot.id}) }}">show</a>
                    <a href="{{ path('app_adslot_edit', {'id': adslot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adslot_new') }}">Create new</a>
{% endblock %}
