<div class="card card-small">
    <div class="card__header">
        <div class="card__title">{{ article.title }}</div>
    </div>
    {% if article.heroImageUrl %}
    <div class="card__img">
        <img src="{{ article.heroImageUrl }}" alt="card image" loading="lazy">
    </div>
    {% endif %}
    <div class="card__body">
        <div class="card__description">{{ article.kicker }}</div>
    </div>
    {% if article.topics|length > 0 %}
    <div class="card__footer">
        <div class="stack">
            {% for topic in article.topics %}
                <div class="pill pill-primary">{{ topic.name }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <a class="card__link" href="{{ path('article_show', {'slug': article.slug}) }}"></a>
</div>