{{ form_start(form) }}
    <div class="input-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        <div class="input-error">
            {{ form_errors(form.title) }}
        </div>
    </div>
    <div class="input-group">
        {{ form_label(form.kicker) }}
        {{ form_widget(form.kicker) }}
        <div class="input-error">
            {{ form_errors(form.kicker) }}
        </div>
    </div>
    <div class="input-group">
        {{ form_label(form.heroImageUrl) }}
        {{ form_widget(form.heroImageUrl) }}
        <div class="input-error">
            {{ form_errors(form.heroImageUrl) }}
        </div>
    </div>
    <div class="input-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {attr: {is: "textarea-autogrow"}}) }}
        <div class="input-error">
            {{ form_errors(form.content) }}
        </div>
    </div>
    <div class="form-submit">
        <button class="button-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
