{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.kicker }}{% endblock %}
{% block metaimage %}{% if article.heroImageUrl %}{{ article.heroImageUrl }}{% else %}{{ parent() }}{% endif %}{% endblock %}

{% block page__desc %}
<div class="d-flex y-center">
    <a href="{{ path('article_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Retour</a>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="article-status article-status-{{ article.published ? "online" : "draft" }}">{{ article.published ? "online" : "draft" }}</div>
        <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="button">{{ icon('edit') }}</a>
        {{ include('admin/article/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}

{% block page__content %}
<article class="article">
    <div class="article__header stack-column">
        {% if article.topics|length > 0 %}
        <div class="article__category stack">
            {% for topic in article.topics %}
                <div class="pill pill-primary">{{ topic.name }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <h1 class="article__title">{{ article.title }}</h1>
        {% if article.heroImageUrl %}
        <figure class="article__heroimg">
            <img src="{{ article.heroImageUrl }}" alt="{{ article.heroImageCredit }}" loading="lazy">
            <figcaption>{{ article.heroImageCredit }}</figcaption>
        </figure>
        {% endif %}
        <div class="article__subtitle">{{ article.kicker }}</div>
    </div>
    <div class="article__body">{{ article.content|markdown_to_html }}</div>
    <div class="article__footer">
        <h5>Partager cet article</h5>
        <div class="stack social">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="button" rel="nofollow noreferrer noopener" target="_blank">{{ icon('facebook') }}</a>
            <a href="https://twitter.com/intent/tweet?text={{ article.title }}&#38;url={{ app.request.uri }}" class="button" rel="nofollow noreferrer noopener" target="_blank">{{ icon('twitter') }}</a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&#38;summary={{ article.kicker }}&#38;title={{ article.title }}&#38;url={{ app.request.uri }}" class="button" rel="nofollow noreferrer noopener" target="_blank">{{ icon('linkedin') }}</a>
        </div>
        <div class="help">(Ces boutons ne déposent pas de trackers)</div>
    </div>
</article>
{% endblock %}
