{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<article class="container article stack-column">
    <div class="article__header stack-column">
        {% if article.topics|length > 0 %}
        <div class="article__category stack">
            {% for topic in article.topics %}
                <div class="pill pill-primary">{{ topic.name }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <h1 class="article__title">{{ article.title }}</h1>
        <div class="article__subtitle">{{ article.kicker }}</div>
        <div class="article__info">{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</div>
        {% if article.heroImageUrl %}
        <figure class="article__heroimg">
            <img src="{{ article.heroImageUrl }}" alt="article hero image">
            <figcaption>Legend of the image</figcaption>
        </figure>
        {% endif %}
    </div>
    <div class="article__body stack-column">{{ article.content|markdown_to_html }}</div>
    <div class="article__footer">Article footer</div>
</article>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
